
    <mat-toolbar class="toolbar">
        <img
        class ="logo"
        src="../../assets/img/shark.gif"
        alt="shark"
        >
        
        <table>
            <tr class="title-table"> 
                <h2>Sharkdent</h2>
            </tr>
            <tr class="title-table">
                <h3 style="font-style: italic;">Stomatologia</h3>  
            </tr>
        </table>
    
    
        
        <a mat-button class="nav-button">CENNIK</a>
        <a mat-button class="nav-button">REJESTRACJA</a>
        <a mat-button class="nav-button">O NAS</a>
    
    </mat-toolbar>


