<head>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap" rel="stylesheet">    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=initMap">
</script>

    
</head>

<body>
    <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
            <mat-icon>more_vert</mat-icon>
          </button>
    
          <mat-menu #menu="matMenu">
    
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
    
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
    
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
    
          </mat-menu>
    </div>

    <div>
        <div class="first-div">
            <img src="../../assets/img/image1.jpg" class="image">
            <h1 class ="image-text-main">Sharkdent</h1>
            <h2 class ="image-text-sub">STOMATOLOGIA</h2>
        </div>
        <mat-divider></mat-divider>
    </div>



    
    <div>
        <img src="../../assets/img/image5.jpg" class="image-5" id="image-5">
        <img src="../../assets/img/image2.jpg" class="image-2" id="image-2" > 
        <img src="../../assets/img/image3.jpg" class="image-3" id="image-3" >
        <img src="../../assets/img/image4.jpg" class="image-4" id="image-4">

        <div class="centered">
            <mat-tab-group (selectedTabChange)="onTabClick($event)">
                <mat-tab label={{chirurgiaTitle}}> <app-list-table-component [dataSource] = 'chirurgia'></app-list-table-component> </mat-tab>
                <mat-tab label={{zachowawczeTitle}}> <app-list-table-component [dataSource] = 'zachowawcze'></app-list-table-component> </mat-tab>
                <mat-tab label={{profilaktykaTitle}}> <app-list-table-component [dataSource] = 'profilaktyka'></app-list-table-component> </mat-tab>
                <mat-tab label={{mleczneTitle}}><app-list-table-component [dataSource] = 'mleczne'></app-list-table-component> </mat-tab>
            </mat-tab-group>
        </div>       
    </div>
    <mat-divider style="top: 200%;"></mat-divider>
   
   
    <div style="top: 300%; position: absolute;">
        <div id="map"></div>

    </div>






</body>