
<head>

</head>

<body>
    <div style="margin: 0; padding: 0;">
        <app-custom-toolbar></app-custom-toolbar>
    </div>

    <div class="centered">
        <mat-accordion>
            <app-list-table-component [dataSource] = 'chirurgia'  [title] = 'chirurgiaTitle'></app-list-table-component>
            <app-list-table-component [dataSource] = 'zachowawcze'  [title] = 'zachowawczeTitle'></app-list-table-component>
            <app-list-table-component [dataSource] = 'profilaktyka'  [title] = 'profilaktykaTitle'></app-list-table-component>
            <app-list-table-component [dataSource] = 'mleczne'  [title] = 'mleczneTitle'></app-list-table-component>
        </mat-accordion>


    </div>



</body>